.App {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 1080px) {
  .Sidebar {
    position: absolute;
  }
}