body {
    background-image: linear-gradient(75deg, #7474BF,#348AC7);
}

.title {
    color: white;
    margin-left: 3vw;
    margin-top: 3vh;
    margin-bottom: 4vh;
}

.login {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color:white;
    border-radius: 1%;

}

.login button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
    margin-bottom: 1vh;
    width: 50%;
    height: 4vh;
    background-image: linear-gradient(75deg, #7474BF,#348AC7);
    border-radius: 20px;
    color: white;
    font-size: large;
    cursor: pointer;
    border-color: transparent;
}

.login button:hover {
    transition: all 0.3s;
    opacity: .8;
}

.login input {
    margin: auto;
    width: 80%;
    height: 3vh;
    border-color: black;
    border-top:none;
    border-left: none;
    border-right: none;
    border-width: .1vh;
}

.login  a {
    margin: auto;
}

.login p {
    color: red;
    visibility: hidden;
    height: 0;
}

.createAccount{
    visibility: hidden;
    height: 0;
}

<<<<<<< HEAD
<<<<<<< HEAD


=======
>>>>>>> master
=======
>>>>>>> b3acf5c0382eda11a150431a061c4a3d28be097f
@media only screen and (max-width: 1080px) {
    .login {
        width: 60%;
    }
}