body {
    background-image: linear-gradient(75deg, #7474BF,#348AC7);
}

.construction h1 {
    margin: auto;
    text-align: center;
    color: white;
}

.construction {
    margin: auto;
    display: flex;
}