.Card {
    display: flex;
    background-color: white ;
    
    border-bottom: rgba(87, 87, 87, 0.74);
    border-width: .1vh;
    border-bottom-style: solid;
    height: 10vh;
    margin: auto;
    border-radius: 5px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.144);
    margin-bottom: 10px;
}

.Card img {
    margin-top: auto;
    margin-left: 1vw;
    margin-bottom: auto;
    width: 5vh;
    height: 5vh;
}

.Card p {
    margin: auto;
    margin-left: 2vw;
    width: 15vw;
}

.amountp {
    margin-right: 8vw;
    width: 8vw;
    display: flex;
    flex-direction: row;
}

.statusp {
    border-radius: 20px;
    text-align: left;
    color: black;
    width: 100px;
    user-select: none;
    display: flex;
    width: 120px;
    height: 3vh;
    background-color: rgb(255, 255, 255);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -6vw;
    margin-right: 4vw;
    border: 
    solid 1px;
}

.statusp p {
    margin: auto;
    text-align: center;
}
