.ExpensesBody {
    background-color:rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    min-width: 100%;
    backdrop-filter: blur(10px);
}

.Filters, .Header {
    border-bottom: rgba(128, 128, 128, 0.274);
    border-width: .1vh;
    border-bottom-style: solid;
}