body {
    background-image: linear-gradient(75deg, #7474BF,#348AC7);
    margin: auto;
}

.login {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    text-align: center;
    background-color:rgb(233, 233, 233);
}

.login button {
    margin: auto;
    width: 20%;
}

.login input {
    margin: auto;
    width: 80%;
}

.login  a {
    margin: auto;
}

.login p {
    color: red;
    visibility: hidden;
    height: 0;
}

.createAccount{
    visibility: hidden;
    height: 0;
}

