.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: none;
    backdrop-filter: blur(4px);
    background-color:rgba(99, 99, 99, 0.199);
}

.window {
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 70vh;
    background-color:rgb(233, 233, 233);
    border-radius: 5px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.09);
}

.window a {
    margin-left: auto;
    margin-right: 1vw;
    text-decoration: none;
    font-size: 2vw;
}

.window button {
    width: 6vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 1vh; 
    height: 4vh;
    border-radius: 5px;
    cursor: pointer;
    border-color: transparent;
}

.window a:visited {
    color: black;
}

.windowContents {
    display: flex;
    flex-direction: row;
}

.textboxes {
    margin-left: 3vw ;
    margin-right: 3vw ;
}

.textboxes input{
    width: 15vw;
    height: 3vh;
}

.textboxes h3 {
    margin-left: 1vw;
}

.fileUp {
    background-color: white;
    width: 30vw;
    height: 20vw;
    border-radius: 5px;
    display: flex;
    outline: 2px dashed lightgray;
    outline-offset: -10px;
    transition: all 0.1s;
    color: gray;
}

.fileUp label {
    margin: auto;
    cursor: pointer;
}

.box_file {
    visibility: hidden;
    width: 0;
}

.fileUp:hover {
    transition: all 0.1s;
    outline-offset: -15px;
}