body {
    background-image: linear-gradient(75deg, #7474BF,#348AC7);
}

.login {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 15vh;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color:white;
    border-radius: 1%;

}

.login button {
    margin: auto;
    width: 70%;
    height: 3vh;
    background-image: linear-gradient(75deg, #7474BF,#348AC7);
    border-radius: 20px;
}

.login input {
    margin: auto;
    width: 80%;
    height: 3vh;
    border-color: black;
    border-top:none;
    border-left: none;
    border-right: none;
    border-width: .1vh;
}

.login button { 
    margin-top: 4vh;
    margin-bottom: 0vh;
    font-size: large;
    color: white;
}

.login  a {
    margin: auto;
}

.login p {
    color: red;
    visibility: hidden;
    height: 0;
}

.createAccount{
    visibility: hidden;
    height: 0;
}
